* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

header {
  font-family: "Public Sans", sans-serif;
}

/* common */

.input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.heading-level-3 {
  color: #152427;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.desc-level-1 {
  color: #7d8188;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625; /* 162.5% */
}

.desc-level-2 {
  color: #7d8188;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  --Primary-color-black-green: #143c3c;
  --height: 57px;

  background-color: var(--Primary-color-black-green);
  height: var(--height);
  color: var(--text-color-white, #fff);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: var(--height); /* 155.556% */
  display: inline-block;
  border-radius: 40px;
  padding: 0 53px;
  min-width: 173px;
  text-decoration: none;
}
/* header */

.header-fix {
  background-color: #fff;
  padding: 28px 0 14px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__link {
  --text-color-black-gray: #575d5e;

  color: var(--text-color-black-gray);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  text-decoration: none;
  padding: 10px 19px;
  position: relative;
}

.navbar__link:hover {
  color: #152427;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #143c3c;
  left: 19px;
  margin-top: 53px;
  visibility: hidden;
}
.navbar__item:hover .navbar__link--active::after {
  visibility: visible;
}

.navbar__list {
  display: flex;
  margin-right: 67px;
}

.header-top::after {
  content: "";
  display: block;
  position: absolute;
  top: 70px;
  height: 1px;
  width: 100%;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #dddcdc 51.09%,
    rgba(213, 213, 213, 0) 99.68%
  );
}

/* Hero */
.hero {
  padding: 60px 0 88px 0;
}

.hero__inner {
  display: grid;
  grid-template-columns: 0.41fr 0.59fr;
  place-items: center;
}

/* hero__content */
.hero__heading {
  color: #152427;
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.2; /* 120% */
  width: 368px;
}

.hero__desc {
  margin-top: 20px;
  color: #575d5e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  width: 368px;
}

.hero__row {
  display: flex;
  margin-top: 42px;
  gap: 36px;
}

.hero__watch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__play {
  margin-left: -22px;
}

.hero__watch-text {
  text-decoration: none;
  color: #152427;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
  margin-left: 15px;
}

.hero__media {
  display: flex;
  position: relative;
}

.hero__images {
  display: flex;
  position: relative;
}

.hero__img:last-child {
  margin-right: 25px;
}

.hero__img {
  width: 202px;
  height: 466px;
  flex-shrink: 0;
  border-radius: 110px;
  object-fit: cover;
  margin-right: 20px;
  z-index: 1;
}

.hero__img:nth-child(2) {
  margin-top: 77px;
}

.hero__images::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  flex-shrink: 0;
  filter: blur(137px);
}

.vector {
  position: absolute;
  left: -173px;
  z-index: 2;
  top: -33px;
}

.extra {
  position: absolute;
  left: -218px;
  top: -29px;
  z-index: 1;
}

.vector__left {
  rotate: 180deg;
  position: absolute;
  bottom: -67px;
  right: 45px;
  z-index: 2;
}

.extra__left {
  position: absolute;
  z-index: 1;
  bottom: -67px;
  right: 0;
}

/* brand */

.brand {
  margin-top: 42px;
}

.brand__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e2eddf;
  border-radius: 100.5px;
  padding: 78px 122px;
  gap: 42px;
}

.brand__row {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.brand__row:hover {
  transform: scale(1.1);
}

.google {
  color: #143c3c;
  font-size: 3.1rem;
  font-weight: 500;
}

.slack {
  color: #143c3c;
  font-size: 3.2rem;
  font-weight: 600;
  margin-left: 5px;
}

.agworld {
  color: #163c35;
  font-size: 2.6rem;
  font-weight: 400;
  margin-left: 11px;
}

.riotinto {
  color: #143c3c;
  font-family: "Sonsie One";
  font-size: 2.3rem;
  font-weight: 400;
}

.heroku {
  color: #143c3c;
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 1.995px;
  margin-left: 14px;
}
.brand__link {
  text-decoration: none;
  transition: 0.25s;
}

.brand__link:hover {
  transform: scale(1.1);
}

/* Services */

.services {
  margin-top: 106px;
}

.section-desc {
  color: #152427;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  margin-left: 46px;
  position: relative;
}

.section-desc::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -46px;
  width: 25px;
  height: 1px;
  background: #152427;
}

.section-heading {
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.238; /* 123.81% */
  width: 520px;
  position: relative;
}

.services__heading {
  margin-top: 12px;
}

.section-heading::before {
  content: "";
  position: absolute;
  top: 84px;
  right: 103px;
  width: 66px;
  height: 2px;
  background: #152427;
}

.services__header__row {
  display: flex;
  justify-content: space-between;
}
.services__arrow {
  display: flex;
  align-items: flex-end;
  margin-right: 73px;
}

.services__icon {
  background: #e2eddf;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  padding: 22px 17px;
  display: block;
  color: #143c3c;
}

.services__icon-left {
  rotate: 180deg;
  margin-right: 17px;
  transition: 0.25s;
}
.services__icon:hover {
  background: #143c3c;
  color: #fff;
}

/* Services - list */

.services__list {
  margin-top: 76px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
}

.services__items {
  border-radius: 20px;
}

.services__items:hover {
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.35);
}

.services__items:hover .services__heading,
.services__items:hover .services__desc {
  margin-left: 18px;
}

.services__items:hover .services__items-img {
  transform: scale3d(1, 1.2, 1);
}

.services__items-images {
  height: 318px;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}

.services__items-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  transition: 0.25s;
}

.services__body {
  background: #fff;
  padding: 23px 0;
  border-radius: 0 0 20px 20px;
}

.services__heading {
  color: #152427;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  transition: 0.25s;
}

.services__desc {
  margin-top: 18px;
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
  width: 268px;
  transition: 0.25s;
}

/* about */

.about {
  margin-top: 157px;
}

.about__inner {
  display: grid;
  grid-template-columns: 0.518fr 0.42fr;
  justify-content: space-between;
  column-gap: 64px;
}

.about__media {
  display: flex;
  gap: 21px;
  position: relative;
}
.about__extra {
  position: absolute;
  left: 46px;
  top: -18px;
}
.about__vector {
  position: absolute;
  left: 84px;
  top: 22px;
  z-index: 1;
}
.about__img {
  width: 284px;
  height: 480px;
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
  object-fit: cover;
}

.about__img:nth-child(2) {
  margin-top: 13px;
}

.about__img:first-child {
  margin-top: 90px;
}

.about__heading {
  margin-top: 20px;
  width: 483px;
}

.about__heading:before {
  visibility: hidden;
}

.about__desc {
  margin-top: 11px;
}

.about__content__row {
  margin-top: 36px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #83a17d;
}

.about__bold {
  display: block;
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.238; /* 123.81% */
}

.about__desc-bold {
  margin-left: 24px;
}

.about__media__body {
  position: absolute;
  width: 143px;
  height: 144px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
  padding: 19px 23px;
  right: -9px;
  bottom: 0;
}

.about__media-bold {
  color: #152427;
  font-family: "Public Sans";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.about__media__desc {
  margin-top: 6px;
  color: #575d5e;
  font-family: "Public Sans";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4; /* 140% */
}

.about__text {
  color: #152427;
  font-family: "Public Sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
}

.about__media__row {
  margin-top: 3px;
  display: flex;
}

.separate-01 {
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
}

.separate-02 {
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}

.about__text__loading {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}

.about__cricle {
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background: #143c3c;
  border: 3px solid #eaeaea;
}

.about__teams {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}

.about__avtgroup {
  display: flex;
}

.about-avt {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid #fff; 
  margin-left: -6px;
}

/* ======== Process flow ========== */

.process {
  margin-top: 79px;
  padding-top: 36px;
}

.process__heading {
  margin-top: 20px;
  width: 477px;
}

.process__heading::before {
  right: -9px;
}

.process__list {
  margin-top: 81px;
  display: flex;
  flex-direction: column;
}

.process__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 41px 21px 20px;
  position: relative;
}

.process__item::after {
  content: "";
  width: 1131px;
  height: 3px;
  background: linear-gradient(
    180deg,
    #83a17d 4.17%,
    rgba(131, 161, 125, 0) 36.46%
  );
  position: absolute;
  bottom: 0;
  left: 0;
}

.process__item:hover {
  background: #e2eddf;
  border-radius: 33px;
  height: 185px;
}

.process__item:hover .process__desc-hover {
  opacity: 0;
}

.process__item:hover::after {
  width: 0;
}

.process__item:hover .process__link {
  position: static;
  visibility: visible;
}

.process__item:hover .process__img {
  visibility: visible;
}

.process__item-inner {
  display: flex;
  align-items: center;
}

.process__bold {
  flex: 1;
  color: #143c3c;
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 0.72; /* 72.222% */
}

.process__item-row {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-left: 49px;
}

.process__item-1 {
  margin-left: 64px;
}

.process__link {
  color: #575d5e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1; /* 100% */
  text-decoration: underline;
  position: absolute;
  visibility: hidden;
}

.process__desc-hover {
  width: 572px;
}

.process__desc-img {
  position: relative;
}

.process__img {
  position: absolute;
  bottom: -54px;
  left: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
}
/* =========== project =========== */

.project {
  margin-top: 148px;
  padding: 116px 0 63px;
  background: #143c3c;
}

.project__inner {
}

.project__header {
  display: flex;
  justify-content: space-between;
}

.project__desc {
  color: #6a8383;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  width: 590px;
}
.project___row__link {
  display: flex;
  align-items: center;
}

.project__link {
  display: block;
  margin-top: 13px;
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}

.project__arrow {
  margin-left: 26px;
  margin-top: 13px;
  color: #80a07b;
}

.project__link:after {
  content: "";
}

.project__heading {
  color: #e7f9f9;
  width: 457px;
}

.project__heading::before {
  right: 97px;
  background: #83a17d;
}

.project__media {
  margin-top: 65px;
  position: relative;
}

.project__media:hover .project__watch {
  transform: scale(1.1);
  visibility: hidden;
}

.project__watch {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  transition: 0.25s;
}
/* features */

.features {
  margin-top: 140px;
  text-align: center;
}

.features__heading {
  margin-left: auto;
  margin-right: auto;
}

.features__heading::before {
  visibility: hidden;
}

.features__desc {
  margin-top: 20px;
  width: 547px;
  margin-left: auto;
  margin-right: auto;
}

.features__list {
  display: flex;
  margin-top: 103px;
  gap: 45px;
}

.features__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 362px;
  border-radius: 160px;
  border: 1.5px solid #cecece;
  transition: 0.5s;
}

.features__item:hover {
  box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
  border: none;
  transform: translateY(-59px);
}

.feature__img {
}

.features__sub-heading {
  margin-top: 26px;
}

.features__item-desc {
  margin-top: 12px;
  width: 264px;
}

/* Blog And Articles */

.blog {
  margin-top: 184px;
}

.blog__heading {
  width: 520px;
}

.blog__heading::before {
  right: -51px;
}

.blog__header-row {
  display: flex;
  justify-content: space-between;
}
.blog__desc {
  width: 409px;
  display: flex;
  align-items: center;
}

.blog__list {
  margin-top: 90px;
  display: flex;
  gap: 30px;
}

.blog__item {
  border-radius: 40px 40px 20px 20px;
  flex: 1;
  transition: 0.25s;
}

.blog__images {
  height: 317px;
  border-radius: 40px 40px 0px 0px;
  overflow: hidden;
}

.blog__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 40px 40px 0px 0px;
  transition: 0.25s;
  display: block;
  transition: 0.25s;
}
.blog__img:hover {
  transform: scale(1.2);
}

.blog__body {
  background: #fff;
  padding: 26px 14px 12px 0px;
  border-radius: 0px 0px 20px 20px;
  height: 204px;
  position: relative;
  transition: 0.25s;
}
.blog__body:hover {
  padding-left: 30px;
  padding-right: 33px;
  box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.35);
}

.blog__body:hover .blog__date {
  right: 30px;
  width: calc(100% - 60px);
}

.blog__body:hover .blog__btn {
  background: #143c3c;
  color: #fff;
}
.blog__btn {
  min-width: 107px;
  height: 26px;
  line-height: 26px;
  border-radius: 20px;
  background: #e2eddf;
  color: #000;
  padding: 0 33px;
  transition: 0.25s;
}

.blog__desc-bold {
  margin-top: 13px;
  color: #143c3c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}
.blog__date {
  color: #575d5e;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  border-top: 1px solid #c4c4c4;
  padding-top: 15px;
  width: calc(100% - 23px);
  text-align: end;
  position: absolute;
  bottom: 12px;
  right: 23px;
  transition: 0.25s;
}

/* footer */

.footer {
  margin-top: 102px;
  background: #143c3c;
}

.footer__inner {
  padding: 72px 0px 96px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.footer__inner::after {
  position: absolute;
  content: "";
  width: 1140px;
  height: 1px;
  background: linear-gradient(
    90deg,
    #143c3c 2.28%,
    #295a5a 55.65%,
    rgba(38, 82, 82, 0) 102.06%
  );
  bottom: 50px;
}

.footer__heading {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 500;
}

.footer-form {
  margin-top: 25px;
  border-bottom: 1px solid #6a8383;
  width: 354px;
  position: relative;
}

.footer__mail {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
  background: transparent;
  padding: 0 0 36px 0;
  border: none;
  outline: none;
}

.footer__mail::placeholder {
  color: #6a8383;
}

.footer__row {
  margin-top: 47px;
  display: flex;
  gap: 22px;
}

.footer__arrow {
  position: absolute;
  right: 0;
  top: 7px;
}

.footer__insta-02 {
  position: absolute;
}

.footer__instagram {
  position: relative;
}

.footer__icon {
  width: 52px;
  height: 52px;
  border: 1px solid #265252;
  border-radius: 50%;
  position: relative;
}

.footer__icon:hover {
  background: #a75325;
  border: none;
}

/* footer-nav */
.footer__navbar {
  display: flex;
  gap: 50px;
}

.link__strong {
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  margin-bottom: 6px;
}

.footer__link {
  color: #6a8383;
  font-family: "Public Sans";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.25; /* 225% */
}

.footer__icon-stick {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.copyright {
  color: #fff;
  font-family: "Public Sans";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  margin-bottom: 10px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0.3;
}
